@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat;
}

.heading {
    padding-top: 60px;
}

.details {
    background-color: black;
    color: white;
    padding: 2rem;

}

.listGroupItem {
    background-color: transparent;
}

h3 {
    text-transform: uppercase;
}



.btn .btn-outline-light .active {
    color: black;
}






  
  